.header {
  align-self: flex-start;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.form {
  background-color: #111827;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 4px;
}

.form div {
  width: 100%;
}
input,
label {
  font-size: 100%;
  font-family: inherit;
  display: block;
}
label {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

input {
  width: 90%;
  font-size: 1.6rem;
  border-radius: 4px;
  padding: 8px 12px;
  background-color: #f3f4f6;
  border: 1px solid #111827;
  margin-bottom: 1.2rem;
}
input[id='address'],
input[id='location'] {
  margin-bottom: 0;
}

input:focus {
  outline: none;
  border: 1px solid #f9fafb;
}

.form .date-container {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 1.5rem;
}

.date-container div input {
  width: 100%;
}
