.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: space-between;
  gap: 2rem;
}
.header-general-info {
  align-self: flex-start;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.form {
  background-color: #111827;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 4px;
}

.form div {
  width: 100%;
}
input,
label {
  font-size: 100%;
  font-family: inherit;
  display: block;
}
label {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

input {
  width: 90%;
  font-size: 1.6rem;
  border-radius: 4px;
  padding: 8px 12px;
  background-color: #f3f4f6;
  border: 1px solid #111827;
  margin-bottom: 1.2rem;
}
input[id='city'] {
  margin-bottom: 0;
}

input:focus {
  outline: none;
  border: 1px solid #f9fafb;
}

.preview {
  align-self: flex-start;
  background-color: #111827;
  padding: 2rem;
  border-radius: 4px;
}
.preview h1,
.preview .headline {
  text-align: center;
}
.preview h1 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.preview .headline {
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}
.personal-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.6rem;
}
.personal-info p {
  display: flex;
  align-items: center;
  gap: 5px;
}
